body{
  background-color: #333333;
  max-height: 100vh;
}
.container{
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.imgContainer{
  overflow: hidden;
  height: 10vh;
}
.imgContainer img{
  height: 100%;
  width: auto;
}
.cardsContainer{
  margin: 2.5vh 2.5vw;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;

}